.page-body {
    width: 100%;
    background: #000;
    overflow: hidden;
    color: #FCD000;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.container {
    perspective: 250px;
}

.content-wrapper{
    width: 600px;
    margin: auto;
    animation: star-wars 30s linear infinite;
}

.title{
    text-align: center;
    text-transform: uppercase;
}

.title:first-child{
    margin-top: 0;
}

.text:last-child{
    margin-bottom: 0;
}

@keyframes star-wars {
    0% {
        transform: rotateX(35deg) translateY(400px);
    }
    100% {
        transform: rotateX(35deg) translateY(-300px);
    }
}
